
extends base.jade

block content
  .row
    .col-md-3
    .col-md-6
      for it in issues
        h3
          a(href="/article/{{it.slug}}.html") {{ it.title }}
        if dict_labels
          span
            for label in it.labels
              a.badge(href="/tag/{{ dict_labels[label].slug }}.html", style="background-color: {{ dict_labels[label].color }}; {% if dict_labels[label].too_bright %} color: #4e4c4c; {% endif %}") {{label}}
          em  Upvotes: {{ it.upvotes }}

        span
          span {{ it.short_description }}

    .col-md-3
