!!! 5
html
head
  //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js")
  link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",
    crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",
    crossorigin="anonymous")

  // Custom style:
  link(rel="stylesheet", href="/static/style.css")

  meta(charset="utf-8")
  title Facts, please.

body
  .row.row-title
      .col-md-3
      .col-md-6
        h1
          a(href="/") Le Pen facts
        include labels.jade

      .col-md-3

  block content