
extends base.jade

{% from "macros.html" import badge with context %}

block content
  .row.row-showcase
    .col-md-3
    .col-md-6
     .row
      for it in issues
        h3
          a(href="/article/{{it.slug}}.html") {{ it.title }}
        if dict_labels
          span
            for label in it.labels
              {{ badge(label) }}
          em  Upvotes: {{ it.upvotes }}

     .row
        .col-md-4
        .col-md-4.text-center
         div(style="padding: 12px;")
          a.btn.btn-default.btn-lg(href="/article/index.html", role="button") Tout lire !
          //- a.btn.btn-default.btn-lg(href="/random.html", role="button") Au hasard
        .col-md-4

    .col-md-3
