
extends base.jade

{% from "macros.html" import badge with context %}

block content
  .row
    .col-md-3
    .col-md-6
      h1 {{ issue.title }}
      if dict_labels
          div
            for label in issue.labels
              {{ badge(label) }}

      div {{ issue.description }}
      em Upvotes: {{ issue.upvotes }}

    .col-md-3