
extends base.jade

block content
  .row
    .col-md-3
    .col-md-6
      h1 {{ label.nicer_name }}

      for it in issues
        h2 {{ it.title }}
        em Votes: {{ it.upvotes }}
        div {{ it.description }}

    .col-md-3